[user]
	email = grey@coder.com
	name = G r e y
	signingkey = 1B933BA64CF808BD
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = true
[alias]
	clbranches = "! git branch -d $(git branch --merged=master | grep -v master)"
	root = rev-parse --show-toplevel
[pull]
	rebase = false